In [8]:
"""
print()function
"""

print("Hello World!")
print(100)
pi=3.14159
print(pi)

introduce = "My name is "
name = "Gyuntae Kim"
print(introduce+name)

Hello World!
100
3.14159
My name is Gyuntae Kim

In [10]:
"""
Variables
"""

user_name = "Gyuntae Kim"
user_id =201655038
is_student = True

In [10]:
"""
Data Types: Integers
"""

chairs = 5
tables = 1
broken_chairs = 0
sofas = 2
curtain = 5

In [11]:
"""

Data Types: Real Numbers
"""

PI = 3.14
Kospi_index = 3155.89
My_class_credit = 3.50

In [11]:
"""

Data Types:Strings
"""

favorite_motto = "No sweat, No sweet."
favorite_game = "Fifa online4"
favorite_food = "Kimchi"

In [13]:
"""

Plus-Equals Operations
"""

a = 8
a *=2
print(a)

16

In [14]:
"""

Errors
"""

# Name Errors

print(my_school)
my_school = "HSU"

NameError: name 'my_school' is not defined

In [4]:
is_tested = True
print(type(is_tested))# 변수가 어떤 데이터 타입인지를 알려주는 함수

a = "3.14"
print(type(a))

<class 'bool'>
<class 'str'>

In [8]:
is_tested = True
print("Yes" == 'Yes')
print((2>1) == (5<10))
c ="2"
d = 2
print(c == d)

True
True
False

In [9]:
chr = "a"
a = 97
chr == a

False

In [16]:
True or True

True

In [17]:
True or False

True

In [18]:
False or False

False

In [19]:
1<2 or 3<1

True

In [20]:
3<1 or 1>6

False

In [21]:
1 ==1 or 1<2

True

In [23]:
"""

conditional statements
"""


puppy = "maltepoo"
is_yes = False

if puppy == "maltese":
    is_yes = True
    print("말티지 맞아요.")
    if age < 3:
        print("말티지 새끼에요.")
    
elif puppy =="poodle":
    is_yes = True
    print("푸들 맞아요.")
    
else:
    is_yes = True
    print("말티푸 맞아요.")
    
print(is_yes)

말티푸 맞아요.
True

In [27]:
"Exception Handling"

x = 1
try:
    print(y)
    print(x)
except:
    print("[Error]")
    
print("continue...")

[Error]
continue...

In [2]:
"""
Lists
"""

primes = [2, 3, 5, 7, 11]
print(primes)

empty_list = []
print(empty_list)

[2, 3, 5, 7, 11]
[]

In [3]:
"""

Multiple different  data types
"""

mixed = ['Jenny', 1, 1.4, True]
print(mixed)
list_of_lists = [['a',1], ['b',2]]

['Jenny', 1, 1.4, True]

In [4]:
"""

Zero-indexing
"""

names = ['Roger', 'Rafael', 'Andy', 'Novak']

print(names[0])
print(names[1])
print(names[2])
print(names[3])

Roger
Rafael
Andy
Novak

In [7]:
"""
Negative indexing
"""

print(names[-1]) # Last data
print(names[-2]) # second to Last data
print(names[-3])
print(names[-4])

Novak
Andy
Rafael
Roger

In [12]:
"""
List slicing
"""
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = hsu_buildings[1:4] # 독립적인 객체
building_slice[0] = '생활관'
print(building_slice)
print(hsu_buildings)
print(hsu_buildings[:])

['생활관', '필헌관', '소통관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']

In [15]:
"""
Multiple-demensional Lists
"""

restaurants = [['해우리', '한식', '고s'], ['짜장명가', '중식', '중화비빔밥'],
               ['찌개동아리', '한식', '제육전골'], ['맘스터치', '양식', '싸이버거']]

print(restaurants)

restaurants[0][2] = '해우라면'
print(restaurants[0])

[['해우리', '한식', '고s'], ['짜장명가', '중식', '중화비빔밥'], ['찌개동아리', '한식', '제육전골'], ['맘스터치', '양식', '싸이버거']]
['해우리', '한식', '해우라면']

In [16]:
"""
Adding Lists Together
"""

items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']

total_items = items_one + items_two
print(total_items)

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In [21]:
"""
Useful Methods for Lists
"""

# Len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
print(size)

#append()
orders = ['daisies', 'periwinkle']
orders.append('tulips')

print(orders)

#insert()
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
store_line.insert(2, 'Vikor')

print(store_line)

#sort()

numbers = [4, 2, 1, 3]
numbers.sort()
print(numbers)

hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
hsu_buildings.sort()

print(hsu_buildings)

5
['daisies', 'periwinkle', 'tulips']
['Karla', 'Maxium', 'Vikor', 'Martin', 'Isabella']
[1, 2, 3, 4]
['늦봄관', '만우관', '소통관', '송암관', '장공관', '장준하통일관', '필헌관']

In [1]:
"""
Keyword
"""
nums = [1, 2,-1, 4, -5, 5, 2, -9]

for num in nums:
    # If num is negative, we skip it
    if num <0:
        continue
    print(num)

1
2
4
5
2

In [3]:
"""
break Keyword
"""

game_plays = ['stage1', 'stage2', 'stage3', 'gameover', 'stage4', 'stage5']

for play in game_plays:
    if play == 'gameover':
        print("Game is Over...")
        break 
    print(play + " is complete. ")

stage1 is complete.
stage2 is complete.
stage3 is complete.
Game is Over...

In [4]:
"""
List Comprehension
"""

one_to_ten = [i+1 for i in range(10)]
print(one_to_ten)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
"""
List comprehension including conditions
"""

hotspurs = [['손흥민', 'A+'], ['헤리 케인', 'F'],
            ['탕기 은돔벨레', 'F'], ['델리알리', 'B'],
            ['루카스 모우라', 'B+'], ['이메르송', 'D']]

poors = [player[0] for player in hotspurs if player[1] == 'F']
print(poors)

['헤리 케인', '탕기 은돔벨레']

In [7]:
"""
Nested Loops
"""

one_to_nine = [i+1 for i in range(9)]

for i in one_to_nine:
    for j in one_to_nine:
        print("%d X %d = %d" %(i,j,i*j))

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [9]:
x = 1
y =1

while x < 5:
    print("Do Something")
    x +=1

Do Something
Do Something
Do Something
Do Something

In [1]:
"""
Functions vs Method
"""

def my_function(x):
    return x+1


y = 3
result = my_function(y)
print(result)

x = 1

class my_class:
    def my_method(self):
        return x+1
    
cls = my_class()
cls.my_method()

4

2

In [4]:
"""
Function Parameters
"""

def introduce_myself(name, birthyear, city):
    print("Hello everyone, My name is %s, I was born in %d, and I live in %s." \
          %(name, birthyear, city))
    
introduce_myself("GyunTae Kim", 1997, "Yong In")

Hello everyone, My name is GyunTae Kim, I was born in 1997, and I live in Yong In.

In [7]:
"""
Return Keyword
"""

#Leap year = 윤년(2월 29일)
def check_leap_year(year):
    if year % 4 == 0:
        return "%s is a leap year." % (year)
    else:
        return "%s is not a leap year." % (year)

check_leap_year(2020)

'2020 is a leap year.'

In [8]:
"""
Returning Multiple Values
"""

def square_point(x, y, z):
    x_squared = x ** 2
    y_squared = y ** 2
    z_squared = z ** 2
    return x_squared, y_squared, z_squared
three_squared, four_squared, five_squared = square_point(3, 4, 5)
print(three_squared, four_squared, five_squared)

9 16 25

In [10]:
"""
Global Variables
"""

a = "Hello"

def prints_a():
    print(a)
    
print(a)
prints_a()

Hello
Hello

In [13]:
"""
Local Variables
"""

b = 2 # global var.

def f1():
    b = 3 # Local var.
    print(b)
    
f1()
print(b)

3
2

In [16]:
"""
Keyword Arguments and Default Values
"""

def findvolume(height, width, depth):
    print("Height = %s" % (height))
    print("width = %s" % (width))
    print("depth = %s" % (depth))
    return height * width * depth
# ex: height = 1, width = 2, depth = 4
print(findvolume(width=2, height=1, depth=4))

Height = 1
width = 2
depth = 4
8